<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Raleway:wght@200&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Raleway:wght@200;400&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600,900" rel="stylesheet">
    <title>Payment</title>
</head>
<body>
    <app-adminnavbar></app-adminnavbar>
    
    <div class="container" >

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">     
                <p>
                  <a href="#" class="btn btn-success my-2">APPROVE</a>
                  <a href="#" class="btn btn-danger my-2">REJECT</a>
                </p>
                <p class="lead">
                    User ID:  User Name: KRA PIN Number: County Of Residence:      
                </p>
              </div>
            </div>
        </section>


        <div class="gallery-image">
            <div class="img-box">
                <img src="https://picsum.photos/350/250/?image=232" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                    <p>Personal Photo</p>
                    <p class="opacity-low">Username</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="https://picsum.photos/350/250?image=444" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                    <p>National ID</p>
                    <p class="opacity-low">National ID Number</p>
                    </div>
                </div> 
            </div>
            
            <div class="img-box">
                <img src="https://picsum.photos/350/250/?image=431" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                    <p>KRA PIN</p>
                    <p class="opacity-low">User KRA Number</p>
                    </div>
                </div>
            </div>
            <div class="img-box">
            <img src="https://picsum.photos/350/250?image=474" alt="" />
            <div class="transparent-box">
                <div class="caption">
                <p>Driving License</p>
                <p class="opacity-low">Driving License Number</p>
                </div>
            </div> 
            </div>
            
            
        </div>
    
    </div>
    
      
        
        

    
    











        <table>
            <thead>
                <tr>
                   <th>User ID</th>
                   <th>National ID</th>
                   <th>National ID Photo</th>
                   <th>Personal Photo</th>
                   <th>KRA Pin</th>
                   <th>Driver License</th>
                   <th>County Of Residence</th>
                </tr>
            </thead>
        </table>    


</body>