<app-navbar></app-navbar>
<div class="container">
    <!-- amount balance button -->
    <div class="float-md-right my-3 amt-balance text-center">
                <div class="amt">
                   
                        Ksh 12000
                   
                </div> 
                <div class="amt-tag">
                    Amount Balance
                </div>
    </div>
    <!-- favourites -->
    <div class="favourites my-3 p-2 mx-auto">
            <div class="favourites-tag">
                Favourites
            </div>
    </div>
</div>